services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - CHOKIDAR_USEPOLLING=true
      - BROWSER=none
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    depends_on:
      - api

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - KINO_DB_PATH=/app/data/kinopro.db
      - KINO_STORAGE_DIR=/app/data/uploads
    volumes:
      - ./apps/api:/app
      - ./data:/app/data

volumes:
  node_modules:
